YMC_DB_USERNAME=media_control_app
YMC_DB_PASSWORD=REPLACE_WITH_RANDOM_32_PLUS_CHAR_VALUE
YMC_DB_ROOT_PASSWORD=REPLACE_WITH_DIFFERENT_RANDOM_32_PLUS_CHAR_VALUE
YMC_AGENT_BOOTSTRAP_TOKEN=REPLACE_WITH_RANDOM_32_PLUS_CHAR_VALUE
YMC_POLICY_SIGNING_PRIVATE_KEY=BASE64_PKCS8_ED25519_PRIVATE_KEY
YMC_POLICY_SIGNING_PUBLIC_KEY=BASE64_X509_ED25519_PUBLIC_KEY
YMC_POLICY_SIGNING_KEY_ID=policy-prod-001
YMC_UNINSTALL_SIGNING_PRIVATE_KEY=DIFFERENT_BASE64_PKCS8_ED25519_PRIVATE_KEY
YMC_UNINSTALL_SIGNING_PUBLIC_KEY=DIFFERENT_BASE64_X509_ED25519_PUBLIC_KEY
YMC_UNINSTALL_SIGNING_KEY_ID=uninstall-prod-001
YMC_TLS_KEYSTORE_PASSWORD=REPLACE_WITH_RANDOM_VALUE
